extends layout

block content
  h1= title
  p Please input an array of packages (with up to one dependency each) comma separated. 
  p It looks something like:
  
  div(class='code-sample')
    p(class='code-sample-bookend') [
      div(class='code-sample-middle')
        p "KittenService: ", 
        p "Leetmeme: Cyberportal", 
        p "Cyberportal: Ice", 
        p "CamelCaser: KittenService", 
        p "Fraudstream: Leetmeme", 
        p "Ice: " 
    p(class='code-sample-bookend') ]
  
  form(method="post" action="")
    div
      textarea(type="text" placeholder="Place array here" name="dependency_array" required="true" cols="50" rows="10")
    div
      button(id="verify" type="submit") Verify
  div(id="result")