extends layout

block content
  h1= title
  p Input an array of packages (with up to one dependency each) comma separated. 
  p(class='instructions') Please write it as a single line so it looks like this:
  
  div(class='code-sample')
    p ["KittenService: ", "Leetmeme: Cyberportal", "Cyberportal: Ice", "CamelCaser: KittenService", "Fraudstream: Leetmeme", "Ice: "]
  
  form(method="post" action="")
    div
      textarea(type="text" placeholder="Place array here without line breaks" name="dependency_array" required="true" cols="50" rows="10")
    div
      a(href="/" id="reset-link") reset
      button(id="verify" type="submit") Verify
  div(id="result")